.nav-logo{
    height: 60px;
  width: auto;
}

.sidebar-logo{
    height: 30px;
  width: auto;
}

.navbar {
    background-color: #ffffff;
}
.container-fluid { /* Example class, adjust to your actual top-level wrapper */
    width: 100%;
    margin: 0;
    padding: 0;
}

html, body, #root {
    min-height: 100vh; /* Ensures it covers the full viewport height */
    background-color: #e8e8e8; /* A light grey color, replace with your desired hex, rgb, or named color */
    margin: 0; /* Remove default browser margins */
    padding: 0; /* Remove default browser padding */
    font-family: 'Inter', sans-serif; /* Keep your preferred font */
}

.profile{
    background-image: linear-gradient(
        to right,
        #df0060,
        #b10075,
        #5e0289,
        #1b008e,
        #00006b
    );
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text transparent so the background shows through */
    color: transparent;
}

.profile .dropdown-item{
    background-image: linear-gradient(
        to right,
        #df0060,
        #b10075,
        #5e0289,
        #1b008e,
        #00006b
    );
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text transparent so the background shows through */
    color: transparent;
}


.nav-title .nav-link {
    /* To apply a gradient to text color, use background-image and background-clip: text */
    background-image: linear-gradient(
        to right,
        #df0060,
        #b10075,
        #5e0289,
        #1b008e,
        #00006b
    );
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text transparent so the background shows through */
    color: transparent; /* Fallback for browsers that don't support -webkit-text-fill-color */
/* Example: Bootstrap's primary blue color for links */
    font-family: 'Arial', sans-serif; /* Example: Change font family */
    font-size: 1.1rem; /* Example: Slightly larger font size */
    font-weight: 600; /* Example: Make it semi-bold */
    text-decoration: none; /* Ensure no underline by default */
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Smooth transition for hover effects */
}

/* Hover effect */
.nav-title .nav-link:hover {
    font-size: 1.15rem; /* Slightly grow on hover */
}

.navbar-brand .nav-title,
.title-account{
    background-image: linear-gradient(
        to right,
        #df0060,
        #b10075,
        #5e0289,
        #1b008e,
        #00006b
    );
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text transparent so the background shows through */
    color: transparent;
}